.nameProd {
  color: black;
  margin-bottom: 0;
  margin-top: 0.5rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
.nameProdEdit{
  font-size: 1rem;
}
.detProd {
  color: black;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0rem;
  font-size: 14px;
  text-align: left;
}
.rightInfo {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  padding-right: 0.5rem;
  padding-top: 1rem;
  text-align: center;
  display: flex;
  gap: 0.5rem;
}
.divBtnProd {
  width: 90px;
  height: 44px;
  align-items: center;
  display: flex;
}
.btnPlus {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  outline: outset green 2px;
  font-family: "Montserrat", sans-serif;
  color: green;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btnPlus:active {
  background-color: #e88a23;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: flex-start;
  padding-left: 1rem;
}
.masMenos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  background-color: #e88a23;
  border: outset #e88a23 2px;
  width: 100%;
  height: 100%;
}
.masMenos:hover {
  border: inset #e88a23 2px;
}

.masMenos > button {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
.cuantiti {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border-radius: 100%;
}

.contCard {
  align-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  box-shadow: 0px 0px 8px #fdab97;
  padding: 1rem 0.3rem 1rem 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.contCardEdit {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;
text-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  overflow: hidden;
}
.price {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: rgb(107, 48, 48);
}
.btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.btn-svg svg {
  width: 100%;
  height: 100%;
}
.svg-minus,
.svg-plus {
  width: 100%;
  height: auto;
}
/* Estilos para el iPhone 11 Pro */
@media (max-width: 375px) {
  .btn-svg {
    width: 10px;
    height: 10px;
    margin-right: 0px;
  }
}



/* +----------------------------------- CARD EDIT ------------------------------------+ */

.contCardEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cardContentEdit {
  flex-grow: 1;
}

.nameProdEdit {
  font-weight: bold;
}

.priceEdit {
  margin-top: 5px;
}

.divBtnProd {
  margin-left: 10px;
}
