.titleSection {
  font-size: 20px;
  color: goldenrod;
  font-family: "Montserrat", sans-serif;
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  font-weight: 800;
  align-items: center;
  background-image: url("../assets/bgNav.png");
  padding: .5rem;
}

.cafeBg {
  border-radius: 20px;
}
.conteinerLC {
  width: 80vh;
  margin: auto;
  margin-top: 0.5rem;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
.imgsTit {
  object-fit: cover;
  object-position: center;
  border: double 2px #18a59d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.conteinerLB2 > img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 250px;
}
.containerL {
  padding-top: 100px;
  
}
.sectioner {
  white-space: pre;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.3rem;
  position: sticky;
  top: 79.5px;
  width: 100%;
  z-index: 9999;
  
}
::-webkit-scrollbar {
  display: none;
}
.sectioner > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  border-radius: 16px;
  margin-left: 8px;
  border: 2px solid orange;
  border-radius: 24px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  padding: 12px 24px;
  background-color: gray;
  margin-top: 0.3rem;
}
.sectioner > a:active {
  background-color: #fcac009d;
  border-radius: orange;
}
.containerL {
  padding-top: 0;
  background-image:url("../assets/bgMadre2.png");
}
/* display: flex;

width: 84px;
height: 44px;

border: 1px solid #577377;
border-radius: 24px; */

/* justify-content: flex-start; */
@media (max-width: 600px) {
  .sectioner {
    justify-content: flex-start;
  }
  .leftInfo {
    padding-left: 0;
  }
  .conteinerLC {
    width: 100%;
    margin: 0;
  }
  .containerL {
    padding-top: 0;

  }
}
